<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>About</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <%- include('head') %>
    </header>
    <main>
      <div class="container min-vh-100">
        <h6>About sobre el proyecto</h6>
      </div>
    </main>
    <footer>
      <%- include('footer') %>
    </footer>
  </body>
</html>
