<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>About</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <%- include('head') %>
    </header>
    <main>
      <div class="container-fluid min-vh-100" style="padding-top: 15px;">
        <h2 style="text-align: center;">
          Clasificador temático de contenido en la Web
        </h2>
        <h3 style="text-align: center;" class="font-italic text-primary">
          Aplicación del teorema Naives Bayes
        </h3>
        <p style="margin-top: 30px;">
          Este trabajo de desarrollo tiene como objetivo, en primera instancia,
          ser presentado como trabajo final de la asignatura
          <strong>Inteligencia Artificial</strong>
          , y en ultima instancia, y la mas importante para mi, plasmar en un
          caso práctico algunos conceptos teóricos aprendidos en el transcurso
          de la materia permitiéndome de esta manera reforzar el conocimiento
          sobre dichos conceptos. Considero este ultimo punto muy importante,
          mas teniendo en cuenta que este campo de la informática tiene un
          cuerpo teórico muy extenso y complejo, integrado por una gran variedad
          de otras disciplinas como filosofía, matemática, estadística,
          economía, neurociencia, etc.
        </p>
        <p>
          Con respecto al trabajo, el mismo consiste en el desarrollo de una
          aplicación web que permite reconocer la temática de un articulo o
          contenido en la web sobre temas de informática y en idioma ingles.
          Mediante la <i>url</i> del sitio la aplicación accede y analiza
          ciertos atributos o características de la página, como el
          <strong>title</strong>, <strong>keywords</strong>, etc. y, mediante
          técnicas aplicadas de razonamiento probabilístico, determina a que
          clase o temática pertenece el articulo dentro de un conjunto de clases
          predeterminadas. Aunque en la práctica este aplicativo no es de mucha
          utilidad, la idea es demostrar la aplicación de estas técnicas de
          inferencia probabilística en un ejemplo concreto.
        </p>
      </div>
    </main>
    <footer>
      <%- include('footer') %>
    </footer>
  </body>
</html>
