<div class="mt-auto border-top border-primary py-1">
  <div class="text-center">
    <h6>
      <a href="https://madryn.unp.edu.ar/"
        >Facultad de Ingeniería - Puerto Madryn</a
      >
    </h6>
    <p class="font-italic">
      Licenciatura en Informática - Asignatura:
      <strong>Inteligencia Artificial</strong>
    </p>
  </div>
</div>
