<div class="container-fluid mt-1 border-bottom border-primary mb-1">
  <div class="row">
    <img
      src="images/UNPSJB_logo_2.jpg"
      alt="logo_unpsjb"
      class="img-fluid rounded mx-auto d-block"
    />
  </div>
  <div class="row justify-content-end">
    <a href="/" class="nav-link">Consult</a>
    <a href="/training" class="nav-link">Training</a>
    <a href="/about" class="nav-link">About</a>
  </div>
</div>
